---
import Layouts from '../components/Layouts.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<Layouts title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>hahass</h1>
</Layouts>
